*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baselin;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.3em;
    margin: 0;
    background-color:#e0d3ae;
}

#container{
    display: grid;
    height: 100%;
}

nav{
    background-color: #26c09ee2;
    position: fixed;
    width: 100%;
    height: 2em;
    padding: 0.5em;
    text-align: center;
    align-content: center;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

#portadaPerfil{
    position: absolute;
    top: 3em;
    width: 100%;
    height: 14em;
    opacity: 80%;
}

.rightPane{
    position: absolute;
    top: 5rem;
    height: max-content;
    right: 5%;
    background-color: #5c6bc0;
    border-radius: 25px;
    max-width: 30%;
    max-height: max-content;
    border: dashed black;
}

#imgPerfil{
    position: relative;
    top: 0rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: dashed black;
    margin: 1em;
    max-width: 90%;
}

#userName{
    position: relative;
    top: 1rem;
    font-weight: bold;
    font-size: 1.7em;
    max-width: 100%;
    text-align: center;
}

#descripcionPerfil{
    position: relative;
    display: grid;
    top: 2rem;
    width: 15em;
    height: max-content;
    margin: 1em;
    text-align: justify;
    text-overflow: ellipsis;
    font-size: 1em;
    max-height: 15em;
    max-width: 90%;
}

#miniCollage{
    position: relative;
    top: 2rem;
    width: 15em;
    height: 90%;
    margin: 1em;
    margin-bottom: 2em;
    max-height: 100%;
    max-width: 90%;
    align-items: center;
}

.miniPic{
    width: 5em;
    height: 5em;
    display: inline-block;
}

.content{
    position: absolute;
    top: 18rem;
    width: 55%;
    height: fit-content;
    background-color:#e0d3ae;
    max-width: 55%;
}

.picSpace{
    position: relative;
    top: .5em;
    left: 10%;
    right: 10%;
    width: 70%;
    height: 60%;
    margin-bottom: 5%;
    border-radius: 25px;
}

.imgUploaded{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.artDescr{
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 20%;
    background-color: cornflowerblue;
    align-content: center;
    text-align: center;
    border-radius: 25px;
}

.footerBg{
    margin-top: 100%;
    background-color: #26c09ee2;
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    height: 3em;
    align-items: center;
}