body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
.imagen-personalizacion {
    max-width: 30rem;
}
.texto-personalizacion {
    display: block;
    text-align: center;
}
.formulario {
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    padding: 5rem;

}
.formulario-borde {
    background: rgb(106,0,204);
    background: linear-gradient(259deg, rgba(106,0,204,0.7649635036496351) 0%, rgba(92,107,192,1) 50%);
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
}
.formu-personalizacion {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.formulario p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}
.formu-estilos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6rem;
    margin-bottom: 1rem;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearence: none;
    height: 3rem;
    width: 3rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
  }
input[type="checkbox"]:after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffffff;
    display: none;
}
input[type="checkbox"]:hover {
    background-color: #a5a5a5;
}
input[type="checkbox"]:checked {
    background-color: #0083e8;
}
input[type="checkbox"]:checked:after {
    display: block;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearence: none;
    height: 3rem;
    width: 3rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
  }
  input[type="radio"]:after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffffff;
    display: none;
}
input[type="radio"]:hover {
    background-color: #a5a5a5;
}
input[type="radio"]:checked {
    background-color: #0083e8;
}
input[type="radio"]:checked:after {
    display: block;
}
.button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
  }
.button:hover {
    background-color: #331c68;
}
.container button.hidden {
    background-color: transparent;
    border-color: #fff;
  }
label {
    color: #ffffff;
}